/*
* @Author: Alexandre-COUEDELO
* @Date:   2016-07-21 10:52:51
* @Last Modified by:   Alexandre-COUEDELO
* @Last Modified time: 2016-07-21 11:33:10
*/

body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}